doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title
    style.
      html, body{
        color: #333;
        padding: 0;
        margin: 0;
        background: #fff;
        font-size: 14px;
      }
      .container{
        width: 45%;
        margin-left: 8%;
        overflow: hidden;
      }
      header{
        padding: 16px;
        background: #fafafa;
      }
      input{
        outline: 0;
        padding: 0.5em;
        font-size: 1.1em;
        width: 100%;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,0.15);
        box-sizing: border-box;
        box-shadow: 0 2px 3px rgba(0,0,0,0.06);
        background: #fff;
      }
      .results{
        margin-top: 5%;
      }
      .result{
        color: #333;
        display: block;
        padding: 10px;
        background: #fff;
        text-decoration: none;
      }
      .result:hover{
        background: #eee;
      }
      .result-title{
        margin: 2px;
      }
      .result-description{
        margin: 2px;
      }
      .result-link{
        width: 50%;
        color: #999;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
  body
    header
      form(action='/search').container
        input(name='q', placeholder="Search")
    .container
      div.results
        each item in results
          a(href=item.link).result
            h3.result-title=item.title
            p.result-description=item.description
            p.result-link=item.link
